* {  
    padding: 0;  
    margin: 0;  
    box-sizing: border-box;  
    }  

body {
width: 100vw;
height: 100vh;
position: absolute;

display: flex;
flex-direction: column;

align-items: center;
}
#Title {
    margin-top: 5vh;
}
#gridContainer {
    width: 50vw; 
    height:50vw;
    display: flex;
    flex-wrap: wrap;
    /* To see the container */
    border: 1px solid black;
}
#buttonContainer {
    margin-top: 5vh;
    width: 50vw; 
    height: 20vh; 
    /* To see the container */
    border: 1px solid pink;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer {
    height: 10vh;
    margin-top: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}